<% _action = cat ? cat_url : cats_url %>
<% _verb = cat ? "PATCH" : "CREATE" %>

<form action="<%= _action %>" method="post">
  <input type="hidden" name="_method" value=" <%= _verb %> ">

  <label for="name">Name</label>
  <input type="text" id="name" value=" <%= cat.name %> ">

  <label for="sex">Sex</label>
  <input type="radio" id="sex" name="sex" value="M">
  <input type="radio" id="sex" name="sex" value="F">

  <label for="color">Color</label>
  <select id="color">
    <option disabled selected>Please Select a Color</option>
    <% Cat.colors.each do |color| %>
      <option value=" <%= color %>"> <%= color %></option>
    <% end %>
  </select>

</form>
