<header>
  <h1> <%= @cat.name %> </h1>
  <h2>Cat Attributes</h2>
  <%= link_to "Edit Cat Attributes", edit_cat_url %>
</header>
<table>
  <tr>
    <th>Sex</th>
    <th>Birth Date</th>
    <th>Color</th>
  </tr>
  <tr>
    <td><%= @cat.sex %></td>
    <td><%= @cat.birth_date %></td>
    <td><%= @cat.color %></td>
  </tr>
</table>

<h3>Description</h3>
<p> <%= @cat.description %> </p>

<footer>
  <%= link_to "Main Page", cats_url %>
</footer>
